<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>673043008139-4mj5kulpkf91jcn2oud4rcilmill0jae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673043008139-4mj5kulpkf91jcn2oud4rcilmill0jae</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ0PZQKdVQZkzzaSMbyKGPGyAT3ifWxr0</string>
	<key>GCM_SENDER_ID</key>
	<string>673043008139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasemlkit</string>
	<key>PROJECT_ID</key>
	<string>firebaserealtime-352213</string>
	<key>STORAGE_BUCKET</key>
	<string>firebaserealtime-352213.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673043008139:ios:e0013a268fc37d4d6ee28e</string>
	<key>DATABASE_URL</key>
	<string>https://firebaserealtime-352213-default-rtdb.firebaseio.com</string>
</dict>
</plist>